* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

/* common styles */
section {
  margin: 5rem 8%;
}
.small-text-color {
  color: #575757;
}

.btn-primary {
  font-weight: bold;
  background-color: #1d4ed8;
  color: #ffffff;
  border-radius: 0.75rem;
  border: none;
  cursor: pointer;
}

/* navbar styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 8%;
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: #575757;
}

.nav-btn {
  padding: 0.75rem 2rem;
}

/* Banner section styles */
.banner {
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0)
    ),
    url("../assets/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.italic {
  font-style: italic;
}

.banner-content {
  color: #ffffff;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18rem;
}

.banner-content div h1 {
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.banner-content div p {
  font-weight: 400;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8)
}

.banner-btn {
  padding: 1.2rem 3rem;
  font-size: 1.1rem;
}
